#course_overview p {
    font-size: 1.5em;
}

td {
    padding: 0.4em;
    border: black 1px solid;
}

.collapse_table {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

#dp_courses thead {
    width: 50%;
    transition:all 1s ease;
    visibility: hidden;
}


#dp_courses:target thead {
    visibility: visible;
}

#dp_courses tbody {
    width: 50%;
    transition:all 1s ease;
    visibility: hidden;
}


#dp_courses:target tbody {
    visibility: visible;
}

#dp_comp thead {
    width: 50%;
    transition:all 1s ease;
    visibility: hidden;
}


#dp_comp:target thead {
    visibility: visible;
}

#dp_comp tbody {
    width: 50%;
    transition:all 1s ease;
    visibility: hidden;
}


#dp_comp:target tbody {
    visibility: visible;
}




.arrow {
    font-size: 2em;
    padding: 2px;
    text-decoration: none;
    color: black;
    border: black 2px solid;
    background-color: #b00;
    height: 1em;
}

.arrow:hover {
    color: white;
}

#dp_comp:target .arrow {
    color: white;
}

.gray_row {
    background-color: #ddd;
}

