{% extends 'base.html' %}


{% block title %}About EvCC Core Learning Outcome Viewer{% endblock %}

{% block content %}
<h1>Everett Community College Core Learning Outcome Viewer</h1>

<p>This program exists to help assist the <a href="http://www.everettcc.edu/news/2017/college-spark-awards-500000-grant-evcc-guided-pathways-work">Guided Pathways</a> initiative at Everett Community College. It's designed to allow the exploration of degree programs at EvCC and their core learning outcomes. It also incorporates other essential information for program mapping such as curriculum similarity between programs.</p>
<p>The Core Learning Outcome Viewer is written by John David Pressman, as part of a internship with Everett Community College.</p>

{% endblock %}
