{% load static %}

<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %} EvCC Core Learning Outcome & Degree Program Viewer{% endblock %}</title>
    <link rel="stylesheet" href="{% static "base.css" %}"> 
    {% block css %} {% endblock %}
  </head>
  <body>
    <div id="banner_navigation">
      <p><a href="{% url 'home' %}">Home</a></p>
      <p class="sep_dot">·</p>
      <p><a href="{% url 'programs' %}">Programs</a></p>
      <p class="sep_dot">·</p>
      <p><a href="">Outcomes</a></p>
      <p class="sep_dot">·</p>
      <p><a href="">About</a></p>
    </div>
    {% block content %} {% endblock %}
  </body>
</html>

