{% extends "base.html" %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'degree_program.css' %}"/>{% endblock %}

{% block title %}View Degree Program Information At EvCC{% endblock %}

{% block content %}

<div id="course_overview">
<h1>{{ reference_program.label }}</h1>
<p class="credit_hours">Credits: {{ reference_program.credits }}</p>
</div>

<h2>Curriculum Information</h2>
<hr/>

<div id="dp_courses" class="collapse_table">
  
<table class="comparison_table">
  <caption><b>{{ reference_program.label }}'s Courses</b></caption>
  <thead>
    <th>Course ID</th>
    <th>Course Name</th>
    <th>Credits</th>
    <th>CLO 1</th>
    <th>CLO 2</th>
    <th>CLO 3</th>
    <th>CLO 4</th>
    <th>CLO 5</th>
    <th>CLO 6</th>
    <th>CLO 7</th>
  </thead>
  <tbody>
    {% for course_clo_pair in course_clo_pairs %}
    <tr class="{% cycle 'white_row' 'gray_row' %}">
      <td>{{ course_clo_pair.0.id }} </td>
      <td>{{ course_clo_pair.0.label }}</td>
      <td>{{ course_clo_pair.0.lower_credit_bound }}</td>
      {% for outcome in course_clo_pair.1 %}
      {% if outcome %}
      <td>X</td>
      {% else %}
      <td></td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>

<div id="dp_comp" class="collapse_table">

<table class="comparison_table">
  <caption><b>{{ reference_program.label }}'s Curriculum Similarity To Other Degrees</b></caption>
  <thead>
  <th>Program Name</th>
  <th>Curriculum Similarity</th>
  </thead>
  <tbody>
  {% for program_distance in program_distances reversed %}
  <tr class="{% cycle 'white_row' 'gray_row' %}">
    <td>{{ program_distance.0.label }}</td>
    <td>{{ program_distance.1 | floatformat}}%</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
