{% extends 'base.html' %}

{% block content %}

<p> Welcome to the EvCC Core Learning Outcome viewer! This software lets you explore the degree programs we have at EvCC. It lets you:

  <ul>
    <li>Find how many credits are in a degree program.</li>
    <li>View what courses are in a degree program.</li>
    <li>Compare curriculum similarity between degree programs.</li>
    <li>Examine the distribution of Core Learning Outcomes in a degree program.</li>
    <li>(Possibly) Look at placement rates and other statistics associated with a program.</li>
  </ul>
</p>

{% endblock %}
  
